.bg-navbg
{
    background-color: darkslategrey;
}

#header
{
    background: url("https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.khhhioihd{
    
}
